img {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.w3-bar-item {
  display: flex;
  margin: 0 auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    margin-top:15%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  body {font-family: "Lato", sans-serif}
  .mySlides {display: none}
  
  .footer {
      height: 50px;
      margin-top: -50px;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid black; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: rgb(88, 31, 192);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px;
}

input[type=submit]:hover {
  background-color: whitesmoke;
}

.container {
  border-radius: 30px;
  background-color: #46a18e;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 100px;
} 