img {
  position: relative;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.w3-bar-item {
  display: flex;
  margin: 0 auto;
}
table {
  width: 50%;
  margin: 250px auto;
  float: none;
  text-align: center;
  background-color: white;
}

th {
  background-color: white;
  font-size: 15px;
}
  
  td, th {
    border: 1px solid #A2B9B2 !important;
    text-align: center;
    padding: 8px;
    color: black !important;
  }

  th {
  background-color: white !important;
  }
  
  tr:nth-child(even) {
    background-color: #46a18e;
  }

  body {
    font-family: "Lato", sans-serif;
    background-image: url("pic.jpg");
    background-repeat: no-repeat;
  background-size: 100% 100vh;
  }
  
  .footer {
      height: 50px;
      margin-top: -50px;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }
