img {
  position: relative;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.w3-bar-item {
  display: flex;
  margin: 0 auto;
}
table {
  border-radius: 5px;
  width: 50%;
  margin: 250px auto;
  float: none;
}
  
  td, th {
    border: 1px solid rgb(88, 31, 192);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #46a18e;
  }
  
  body {
    font-family: "Lato", sans-serif;
    background-image: url("pic.jpg");
    background-repeat: no-repeat;
  background-size: 100% 100vh;
  }
  
  .footer {
      height: 50px;
      margin-top: -50px;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }
