@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

img {
  position: relative;
  display: flex;
  margin: 0 auto;
}

main {
  top: 187px;
  position: relative;
  padding-top: 16px;
}

.w3-bar-item {
  display: flex;
  margin: 0 auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
