/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,700');*/

/*
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
 */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type='file'] {
  width: 100%;
}
