/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,700');*/

/*
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
 */

html {
  height: 100%;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

.navbar,
.footer {
  flex: none;
}

.main {
  flex: 1 0 auto;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type='file'] {
  width: 100%;
}

.ReactTable .rt-head {
  overflow-y: scroll;
}
