table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    margin-top:15%;
  }

  .w3-bar-item{
    float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  body {font-family: "Lato", sans-serif}
  .mySlides {display: none}
  
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }