.logo {
  width: 430px;
  height: 320px;
  display: block;
  margin: 0 auto;
  padding-top: 75px;
}

  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {

  /* The image used */
 

  /* Full height */
  height: 100%; 
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

h1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 25px;
}

/* TYPEWRITER STYLES */ 
  .typewriter p {
    border-right: .15em #6EC5B8;
    color: #FFD500;
    font-family: 'Quicksand', sans-serif;
    white-space: nowrap;
    overflow: hidden;
  }
  .typewriter p:nth-child(1) {
    width: 50.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .typewriter p:nth-child(2) {
    width: 50.5em;
    opacity: 0;
    -webkit-animation: type2 5s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .typewriter p:nth-child(3) {
    width: 50.3em;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em #6EC5B8;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em #6EC5B8;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em #6EC5B8;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em #6EC5B8;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: transparent;
    }
  }
