.logo {
  width: 500px;
  height: 150px;
}

.main {
  width: 700px;
  height: 600px;
}

.jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
}

/* Place text in the middle of the image */
.login-form {
  text-align: center;
  color: black;
  background-color: black;
}

.row-1 {
  padding-top: 35%;
}

body, html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #00a99d;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.modal-content {
  background-color: #00a99d;
  color: white;
}

.nav-link {
  color: white;
}

.text {
  color: #00a99d;
}

.modal-footer {
  background-color: black;
  color: white;
}

footer {
  color: #000000;
  font-size: 15px;
  font-family: 'Quicksand';
  text-align: center;
  position: sticky;
  padding: 3px;
}
  
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}