img {
  width: 90px;
  height: 50px;
}

.w3-bar-item {
  display: flex;
  margin: 0 auto;
}

body{
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}

table {
  margin: 220px auto;
  float: none;
  text-align: center;
}

.my-form {
  margin: auto;
}

.navbar-laravel
{
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
  font-family: Raleway, sans-serif;
}

.my-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row
{
  margin-left: 0;
  margin-right: 0;
}

.login-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
  body {
    font-family: "Lato", sans-serif;
    background-image: url("pic.jpg");
    background-repeat: no-repeat;
  background-size: 100% 100vh;
  }
  
  .footer {
      height: 50px;
      margin-top: -50px;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }